@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management</h1>
    <p class="lead">Employee management system that can add,delete and update a value</p>
    <p><a href="https://www.google.com" class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Loreum IPSUM</h2>
        <p>urpis vel mauris interdum tincidunt. Sed tempus ultrices orci, eget dapibus quam porttitor id. Nunc ex ligula, aliquet vitae tempus sed, sodales nec felis.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Loreum</h2>
        <p>Donec luctus, massa ut ullamcorper finibus, nunc turpis venenatis dui, euismod interdum libero lorem non mi. 
<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ISpsum</h2>
        <p>Suspendisse tristique ipsum et libero ornare, quis maximus nibh tincidunt. Phasellus luctus odio tortor, sit amet pretium lorem lobor.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>